<form action="/member/info" method="POST"></form>

<div class="row">
    <div class="card col-12">
        <div class="col-12">
                <table class="table">
                    <ul class="list-group">
                    <thead>
                        <li class="list-group-item"><span class="font-weight-bold">Code: </span><%= member.code %></li>
                 
                        <li class="list-group-item"><span class="font-weight-bold">School: </span><%= member.school %></li>
           
                        <li class="list-group-item"><span class="font-weight-bold">Programme Name: </span><%= member.progname %></li>
                      
                        <li class="list-group-item"><span class="font-weight-bold">Study Level: </span><%= member.studylv %></li>
         
                        <li class="list-group-item"><span class="font-weight-bold">Year to Study: </span><%= member.duration %></li>

                        <li class="list-group-item"><span class="font-weight-bold">First Year Intake: </span><%= member.firstyr %></li>

                        <li class="list-group-item"><span class="font-weight-bold">Need Interview?: </span><%= member.interview %></li>

                        <li class="list-group-item"><span class="font-weight-bold">Funding Category: </span><%= member.funding %></li>

                        <li class="list-group-item"><span class="font-weight-bold">Course Description: </span><%= member.sd %></li>
                    </thead>
                    </ul>
                </table>
            </div>
        
</div>
    </div>